@model IEnumerable<WAFraneProject.Models.Category>


<table class="table table-hover" style="border:solid #FFCCFF;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a class="btn btn-info btn-sm" onclick="Edit('@Url.Action("AddOrEditCategory","CRUD", new { id=item.ID})')"><i class="glyphicon glyphicon-pencil"></i></a>
            <a class="btn btn-warning btn-sm" onclick="Delete('@Url.Action("DeleteCategory","CRUD", new { id=item.ID})')"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>